@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: auto;
    font-style: normal;
    color: black;
    margin: 0 auto;
}

header {
    background-color: #EAC926;
    text-align: left;

    img {

        margin-top: auto;
        width: 150px;
    }

    h1 {
        display: none;
    }


}

main {
    margin: 0 auto;
    background-color: #ebebeb;

    form {
        border-radius: 2px solid;
        padding: 20px;
        border-color: black;
    }

    form input {

        display: block;
        margin-bottom: 40px;
        text-align: left;
        margin-top: auto;

        width: 250px;
        height: 25px;
        padding: 2px;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;

    }

    form label {
        color: #666;
    }





    div {
        display: none;
    }





    section h2 {
        margin-bottom: 20px;
        text-align: left;
        color: #666;
        font-size: 24px;
    }

    article {
        margin: 10px;
        margin-bottom: 50px;
        background-color: white;
        border: 1px solid white;
        padding: 10px color: antiquewhite;
    }

    section article img {
        display: block;
        margin-top: 0 auto;

        width: 90%
    }

    section h4 {
        font-size: 18px;
    }

    section h5 {
        font-size: 16px
    }
}

footer {

    border-color: #666;
    width: 250px;
    height: auto;
    margin-top: 7%;
    text-align: center;

    section i {
        color: #0352a7;
        font-size: 2em;
        margin: 10px;

    }

    section article h2 {
        color: #666;
        margin: 0 auto;
        font-size: 24px;

    }

    section h4 {

        margin: 0 auto;
        font-size: 16px;
        color: black;
    }

    section p {
        margin-top: 3%;
        text-align: left;
        color: #666;
    }

}